@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif&family=Playfair+Display&family=Roboto:wght@100&display=swap');
.foto_seta{
    height: auto;
    width: 60px; 
}

.foto_perfil{
    height: auto;
    width: 100px; 
}
body {
    font-family: 'PT Serif', 'Playfair Display';
    background-color: #d2dee8
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    text-align: end;
    align-items: center;
    font-family: 'PT Serif', 'Playfair Display';
}
header h1{
    font-family: 'PT Serif', 'Playfair Display';
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.divisao-quadrados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid black;
    padding: 2.3rem 1rem;
    text-decoration: none;
    color: black;
    margin: 1rem;
    min-width: 30%;
    max-width: 30%;
    text-align: center;
    background-color: #b4d9d5;
}
